//reuseable stuff like buttons etc
@use "base" as b;

//fuck nav bars
//mobile size
nav {
  ul {
    @include b.nav-flex;
    @include b.nav-position;
    background-color: white;
    font-weight: 700;
    box-shadow: 0px 2px 10px #888;
    li {
      font-size: 1rem;
      a {
        text-decoration: none;
      }
      a:visited {
        color: unset;
      }
      i {
        //shopping cart icon
        font-size: 0.5rem;
      }
    }
  }
}
//desktop size
@media (min-width: b.$desktop-width) {
  ul {
    display: block;
    @include b.nav-flex;
    @include b.nav-position;
    background-color: white;
    font-weight: 700;
    box-shadow: 0px 2px 10px #888;
    li {
      font-size: 1rem;
      a {
        text-decoration: none;
      }
      a:visited {
        color: unset;
      }
      i {
        //shopping cart icon
        font-size: 0.5rem;
      }
    }
  }
}

//order form
//mobile size

.order-form {
  background-color: b.$trans-green;
  border: solid black 0.1rem;
  font-size: 1.4rem;
  padding: 2rem;
  line-height: 1.5rem;
  padding-bottom: 5rem;
  text-align: center;
  box-shadow: -10px 16px teal;
  margin-bottom: 20rem;
  .breads {
    p {
      font-weight: 600;
    }
    .baked {
      font-weight: 700;
      font-size: 1.8rem;
      background-color: rgb(255, 255, 0);
      padding-top: 0.4rem;
    }
    select {
      height: 1.6rem;
      margin-left: -8px;
      margin-top: -20px;
      border: none;
      background-color: transparent;
    }
    width: 80%;
    margin: auto;
    option {
      background-color: none;
    }
    .tuesday,
    .friday,
    .baked {
      font-weight: 700;
      font-size: 1.8rem;
      background-color: rgb(255, 255, 0);
      padding-top: 0.4rem;
      margin-top: 1.2rem;
    }
  }
}

// contact
.contact {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  text-align: left;
  label {
    padding: 1rem 0rem 1rem 0rem;
  }
  input,
  textarea {
    height: 2rem;
    padding: 1rem;
    font-style: italic;
  }
}

//order form tablet size
@media (min-width: b.$tablet-width) {
  .order-form {
    width: 80%;
  }
}

//tablet size & larger & the nav bar is gone
@media (min-width: b.$tablet-width) {
  nav {
    display: none;
  }
}

/* toggle language btn  */

.container {
  position: relative;
  max-width: 600px;
  height: 500px;
  padding: 50px;
  color: #555;
}

/* .container .content{
  display: none;
  margin-top: 20px;
}

.container .content .content.contentEnglish{
  display: block;
} */

.container {
  .content {
    display: none;
    margin-top: 20px;
  }
  .contentEnglish {
    display: block;
  }
}

.check {
  position: relative;
  width: 50px;
}

.check:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background: #333;
  border-radius: 25px;
}

.check:checked:before {
  background: #00a1ff;
}

.check:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}

.check:checked:after {
  left: 25px;
  border: 2px solid #00a1ff;
}

.check:checked ~ .content.contentEnglish {
  display: none;
}

.check:checked ~ .content.contentDeutsch {
  display: block;
}

.en {
  color: #333;
}

.de {
  color: #00a1ff;
}
