//reuseable stuff like buttons etc
@use "base" as b;

//fuck nav bars
nav {
  ul {
    @include b.nav-flex;
    @include b.nav-position;
    background-color: white;
    font-weight: 700;
    box-shadow: 0px 2px 10px #888;
    li {
      font-size:0.5rem;
      a {
        text-decoration:none;
      }
      a:visited {
        color: unset;
      }
      i {
        //shopping cart icon
        font-size: 0.5rem;
      }
    }
  }
}

//tablet size & larger & the nav bar is gone
@media (min-width: b.$tablet-width) {
  nav {
    display: none;
  }
}
