//layout with grid etc
//write most code here
//try to use rem & em instead of px

@use "base" as b;
//use b.variable or mixins when applying

header {
  color: b.$main-green;
  text-align: center;
  height: 100vh;
}
main {
  @include b.main-grid;
  margin: 5rem 0rem 5rem 0rem;
  // would be good to do a max width that the cards span across but max-width gets rid of margin:auto;
  // max-width: 1000px;

  div {
    padding: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: b.$highlight-yellow;
    margin: auto;
  }
}
