//layout with grid etc
//write most code here
//try to use rem & em instead of px

@use "base" as b;
//use b.variable or mixins when applying
header {
  color: b.$main-green;
  text-align: center;
  height: 55vh;
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
  .de {
    display: none;
  }
  h1 {
    padding: 2rem;
    text-shadow: 10px 10px 0px b.$highlight-yellow;
  }
}
main {
  .de {
    display: none;
  }
  #about {
    display: none;
  }
  #daily {
    display: none;
  }
  #offering {
    margin: 5rem 0rem 5rem 0rem;
    max-width: 1700px;

    .card {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 345px;
      margin: auto;
      padding: 1.5rem;

      img {
        width: 100%;
      }

      div.card-text {
        display: inline-block;
        border-bottom: solid 0.2px;
        width: 100%;
        padding: 1rem;
      }
    }
  }
  .order-form {
    margin: auto;
    max-width: 345px;
    img {
      display: none;
    }
  }
}

//tablet size
@media (min-width: b.$tablet-width) {
  header {
    height: 40vh;
  }
  main {
    #about {
      @include b.daily-about-tablet;
      background-image: url("../images/Backstein-fulltray-1133x744.jpg");
      background-size: cover;
      background-position-y: 50%;
      p {
        @include b.daily-about-tablet-text;
      }
    }
    #daily {
      @include b.daily-about-tablet;

      p {
        @include b.daily-about-tablet-text;
      }
    }

    // cards

    #offering {
      .card {
        display: flex;
        flex-wrap: wrap;
        min-width: 345px;
        max-width: 100%;
        img {
          width: 50%;
        }

        div.card-text {
          display: inline-block;
          border: solid 2px;
          width: 50%;
        }
      }
    }
  }
}

//desktop size
@media (min-width: b.$desktop-width) {
  header {
    height: 60vh;
  }
  main {
    #about {
      background-image: url("../images/Backstein-full\ tray.jpg");
      @include b.daily-about-desktop;

      .yellow-bcg {
        display: inline-flex;
        justify-content: flex-end;
        p {
          @include b.daily-about-text-desktop;
          height: 20rem;
        }
      }
    }
    #daily {
      background-image: url("../images/Haferkante-full\ tray.jpg");
      @include b.daily-about-desktop;

      .yellow-bcg {
        display: inline-flex;
        justify-content: flex-end;
        height: 100%;

        p {
          @include b.daily-about-text-desktop;
        }
      }
    }

    #offering {
      margin: auto;
      .card {
        display: flex;
        flex-wrap: wrap;
        min-width: 345px;
        max-width: 100%;

        img {
          width: 50%;
        }

        div.card-text {
          display: inline-block;
          border: solid 2px;
          width: 50%;
          padding: 1rem;
        }
      }
    }
  }
}
